In [24]:
import pandas as pd

In [25]:
data = pd.read_csv("/Users/serms/git/ODKG/HandsOn/Group08/csv2/US-News-Rankings-Liberal-Arts-Colleges-Through-2023-updated.csv")
data

,IPEDSID,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,168342,1,1,1,1,1,1,1,1,1,...,2,2,1,1,3,3,3,1,1,2
1,164465,2,2,2,2,2,2,2,2,2,...,1,1,2,3,1,2,2,4,3,1
2,121345,3,4,4,5,5,6,7,4,5,...,5,5,5,5,6,4,5,6,7,9
3,216287,4,3,3,3,3,3,4,3,3,...,3,3,3,2,2,1,1,2,2,2
4,168218,5,5,4,3,3,3,3,4,4,...,4,4,4,6,5,5,4,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,233718,T2 (156-201),165,162,154,127,134,140,No Rank,116,...,T2 (41-80),Q3 (71-105),Q2 (36-70),Q2 (36-70),Q2 (37-71),No Rank,No Rank,No Rank,No Rank,No Rank
150,199865,T2 (156-201),T2 (168-222),162,160,143,160,159,164,165,...,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank
151,154527,T2 (156-201),165,162,148,143,128,132,143,159,...,T4 (121-160),Q4 (106-140),Q4 (106-140),Q4 (106-140),Q4 (107-141),No Rank,No Rank,No Rank,No Rank,No Rank
152,197230,T2 (156-201),146,136,124,T2 (173-229),168,174,136,148,...,T3 (81-120),Q2 (36-70),Q2 (36-70),Q3 (71-105),Q2 (37-71),No Rank,No Rank,No Rank,No Rank,No Rank
153,179946,T2 (156-201),158,155,157,155,147,?,148,159,...,T4 (121-160),No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank,No Rank

In [26]:
data = data.melt(id_vars=['IPEDSID'], var_name='Year', value_name='Ranking')
data

      IPEDSID  Year  Ranking
0      168342  2023        1
1      164465  2023        2
2      121345  2023        3
3      216287  2023        4
4      168218  2023        5
...       ...   ...      ...
5847   233718  1984  No Rank
5848   199865  1984  No Rank
5849   154527  1984  No Rank
5850   197230  1984  No Rank
5851   179946  1984  No Rank

[5852 rows x 3 columns]

In [27]:
data.to_csv('/Users/serms/git/ODKG/HandsOn/Group08/csv2/US-News-Rankings-Liberal-Arts-Colleges-Through-2023-updated-2.csv', index=False)